<table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" align="center" width="600">
    <tbody>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:33px;color:#414a51" class="m_-6814824071382954445m_4500505283733676759editable">
                <u></u><img><u></u>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:33px;color:#414a51" class="m_-6814824071382954445m_4500505283733676759editable">
                <u></u><u></u>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td align="left">
                <table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" align="left" width="70">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="70">
                                    <tbody>
                                        <tr>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td width="15"></td>
                                            <td align="center">
                                                <table cellspacing="0" cellpadding="0" border="0" align="center" width="5">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-radius:10px" bgcolor="#900" width="5" height="5"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td height="15"></td>
        </tr>
        <tr>
            <td style="font-family:'Open Sans',Arial,sans-serif;font-size:14px;color:#4a4c4d;line-height:20px">
                <table class="m_-6814824071382954445m_4500505283733676759table-full" cellspacing="0" cellpadding="0" border="0" width="600">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-family:'Open sans',Arial,sans-serif;color:#fff;font-size:14px;line-height:28px;padding-left:15px;font-weight:bold;border-radius:5px" class="m_-6814824071382954445m_4500505283733676759editable" bgcolor="#036" align="center"
                                height="40">
                                <b>ACCESO AL PROCESO DE REGISTRO  - ADMISIÒN</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br></td>
                        </tr>
                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px"></td>
                        </tr>
                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px"></td>
                        </tr>
                        <td style="line-height:28px"><b></b></td>
                        <td style="line-height:28px">
                            <a href="callto:" value="" target="_blank"></a>
                        </td>

                        <tr>
                            <td style="line-height:28px"><b></b></td>
                            <td style="line-height:28px">
                                <a href="mailto:" target="_blank"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>{{ mensaje|raw }}</td>
        </tr>
        

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td class="m_-6814824071382954445m_4500505283733676759editable" style="font-family:'Open Sans',Arial,sans-serif;font-size:11px;color:#fff;text-align:center;font-weight:bold" bgcolor="#900" height="30">
                © Copyright 2016 - All right reserved - <a href="http://centrum.pucp.edu.pe/" style="color:#fff;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://centrum.pucp.edu.pe/&amp;source=gmail&amp;ust=1495128514180000&amp;usg=AFQjCNFr2TJEEnLKfKdDDExjS-2-TeSbLA">
            Página principal</a>
            </td>
        </tr>
    </tbody>